
* {
	box-sizing: border-box;
}


body{
	margin: 0;
	text-align: center;
	background: url("MountainTop_Austria.jpg");
	background-repeat: no-repeat;
	background-origin: content-box;
	//background: #F7F7F7;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container {
	width: 95%;
	margin: 0 auto;
}



/********** Typography **********/
/********************************/

h1 {
	font-weight: 300;
	font-size: 2rem;
}


.nameTxtBox {
	animation: fadeIn 1.5s;
	font-size: 2rem;
	font-weight: 550;
	margin-bottom: 0.5em;
}

.nameTxtBox span {
	animation: fadeIn 3s;
	font-weight: 300;
	display: block;
	font-size: .85em;
}



/********** Buttons **********/
/*****************************/

.button {
	animation: fadeIn 3s;
	display: inline-block;
	font-size: 0.9rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

.button-accent {
	color: #393E46;
	border-color: #393E46;
}

.button-accent:hover,
.button-accent:focus {
	background: #5C636E;
	border-color: #5C636E;
	color: white;
}


/********** Header **********/
/****************************/

header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0.3em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: 8%;
	color: #393E46;
	//background: pink;
}

nav a:hover,
nav a:focus {
	color: #5C636E;
}

@media (min-width:60rem) {
	nav {
		padding-right: .5em;
		float: right;
	}
}


/********** Home Intro Space **********/
/**************************************/

.homeIntroSpace {
	background-color: #F7F7F7;
	padding: 7em 0;
}


/********** Home About Section **********/
/****************************************/


.homeAboutCell1 {
	animation: fadeIn 2s;
	background-color: #CACACA;
	padding: 3em;
	width: 100vw;
	//margin-left: -2.5%;
	outline: 2px solid white;
	outline-offset: -2em;
	color: black;
	position: relative;
}


.homeAboutCell1 h1 {
	background-color: #CACACA;
	//font-weight:600;
	color: black;
	position: absolute;
	//margin-left: 2.5%;
	left: 50%;
	transform: translateX(-50%);
	top: -.5em;
	padding: 0 .4em;
}

@media (min-width: 50rem) {
	
	.container .homeBox{
		display: table;
		background-color: #20716A;
		padding: 2em;
	}

	.container .homeBox .homeAboutRow {
		display: table-row;
		vertical-align: top;
	}

	.container .homeBox .homeAboutRow .homeAboutCell {
		display: table-cell;
		width: 50%;
		flex: 1;
	}

	.container .homeBox .homeAboutRow .homeAboutCell.homeAboutCell1 {
		background-color: #CACACA;
		//margin-left: 2.5%;
		text-align: left;
		float: left;	
	}

	.homeAboutCell1 h1 {
		background-color: #CACACA;
		top: -.35em;
		left: 2.7rem;
		transform: translateX(0);
	}

	.homeAboutCell2 {
		animation: fadeIn 2s;
		background-color: #CACACA;
		//padding: 1.5em;
		position: relative;
		float: right;
	}
}


/********** Home About Section **********/
/****************************************/


//.homeBox 
.container .experienceRow {
	animation: fadeIn 2s;
	background-color: #CACACA;
	padding: 3em;
	width: 100vw;
	//margin-left: -2.5%;
	outline: 2px solid white;
	outline-offset: -2em;
	color: black;
	position: relative;
}

@media (min-width: 50rem) {

	.container .experienceRow {
		background-color: pink;
		padding: 2em;
	}
	
	.container .experienceRow .experienceCell {
		background-color: #CACACA;
		//position: relative;
		//float: middle;
		width: 100%;
		padding: 3em;
	}

	

}





/********** Modifiers **********/
/*******************************/

.imgCircle {
	object-fit: cover;
	//display: block;
	width: 13em;
	height: 13em;
	//background-size: cover;
	border-radius: 50%;//100px;
	-webkit-border-radius: 50%;//100px;
	-moz-border-radius: 50%;//100px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}




